<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cuisine Quest</title>
    <meta name="description" content="style.css?v=">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css?v=">
  </head>
  <body>
    <!-- <header>
      <p>Menu</p>
    </header> -->
    <main>
      <header>
        <h1>Cuisine Quest!</h1>
        <p>What country is this dish from?</p>
      </header>
      <div class="image-wrapper">
        <p class="dish-title"><%- name -%></p>
        <% if(img) { %>
          <img src="<%- img.fields.file.url -%>?fit=fill&w=720&h=720" alt="<%- img.fields.title -%>" />
        <% } %>
      </div>
      <form id="country-guesser">
        <div class="input-wrapper">
          <input autocomplete="off" type="text" name="country" required>
          <%- include('partials/country-list') %>
        </div>
     
        <input type="hidden" name="id" value="<%- id -%>">
        <button>submit</button>
      </form>
      <div class="guesses-left">
        <p>You have <span>5</span> guesses left.</p>
      </div>
      <div class="tips-list">
        <ul>
          <% tips.forEach((tip, i) => { %>
            <% if (tip) { %>
              <li class="tip tip-<%- i -%>"><%= i === 2 ? 'Famous landmark: ' : '' %><%- tip -%></li>
            <% } %>
          <% }); %>
        </ul>
      </div>
      <div class="game-over">
        <h2>Your daily game is complete</h2>
        <p>You can play again on <span></span></p>
      </div>
    </main>
    <script src="main.js" async defer></script>
  </body>
</html>